    body{
        background-color: black;
        color:aquamarine;
    }
        body{
        font-family: "Sevillana",sans-serif;
    }

    h1{
        font-size: 60px;
    }

    p{
        font-size: 25px;
    }