    body{
        background-color: black;
        color:aquamarine;
    }
        body{
        font-family: "Sevillana",sans-serif;
        margin 0px; 
        }
        header{
            border-bottom: inset 3px red(42, 122, 228);
        }

    h1{
        font-size: 60px;
    }

    p{
        font-size: 25px;
    }